.pad {
    text-align: center;
    margin-top: 6em;
    margin-right: auto;
    margin-bottom: 3em;
    margin-left: auto;
}

.pad h1 {
    font-size: 800%;
    margin: 0;
    padding: 0;
    color: #1f8dd6;
    font-weight: 100;
}
